@{
}

@model List<TaskItem>;

<div class="container">
    <div class="row bg-secondary mb-2 p-md-2 text-light text-center">
        <div class="col-4">
            <h3 class="m-auto">TO DO</h3>
        </div>
        <div class="col-4">
            <h3 class="m-auto">DOING</h3>
        </div>
        <div class="col-4">
            <h3 class="m-auto">FINISHED</h3>
        </div>
    </div>
    <div class="row">
            <div class="col-4">
                @foreach (TaskItem t in Model)
                {
                    if (t.Status == "TD")
                    {
                        <partial name="~/Views/Partials/_TableBoardCardPartial.cshtml" for="@t" />
                    }
                }
            </div>
            <div class="col-4">
                @foreach (TaskItem t in Model)
                {
                    if (t.Status == "DO")
                    {
                        <partial name="~/Views/Partials/_TableBoardCardPartial.cshtml" for="@t" />
                    }
                }
            </div>
            <div class="col-4">
                @foreach (TaskItem t in Model)
                {
                    if (t.Status == "FI")
                    {
                        <partial name="~/Views/Partials/_TableBoardCardPartial.cshtml" for="@t" />
                    }
                }

            </div>
        </div>
    </div>
